.reset-pass-container {
  min-height: 100vh;
  background-color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.reset-pass-form-container {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--gray-300);
}

.login-prompt {
  text-align: center;
  margin-top: 1rem;
}

.login-prompt a {
  color: var(--primary-blue-light);
  text-decoration: none;
  font-weight: 500;
}

.login-prompt a:hover {
  text-decoration: underline;
}

.title-color{
    color: var(--primary-blue);
}